.awards {
  &__caption {
    font-family: "Graphik M Trial";
    font-weight: 500;
    line-height: 3.2rem;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: get-color(primary);
    margin-bottom: 3.2rem;
  }

  &__award {
    text-align: center;

    img {
      width: 6.4rem;
      height: 5.6rem;
      object-fit: contain;
      margin-bottom: 1.6rem;
    }

    p {
      font-size: get-text-size(sm);
      line-height: 1.9rem;
      color: hsla(180, 1%, 30%, 1);
    }
  }

  &__text-box {
    display: flex;
    align-items: center;

    & > img:first-child,
    & > img:last-child {
      transform: translateY(8px);
    }

    & > *:not(:last-child) {
      margin-right: 1.2rem;
    }
  }
}
