.btn {
  font-family: "Graphik M Trial";
  font-weight: 500;
  @include d-flex(center, center);
  border: none;
  border-radius: 4.8rem;
  padding: 1.45rem 2.4rem;
  cursor: pointer;

  img {
    margin-right: 0.4rem;
  }

  &--main {
    width: fit-content;
    padding: 1.45rem 3.2rem;
    background-color: hsla(94, 71%, 68%, 1);
  }

  &--sec {
    width: 12rem;
    background-color: hsla(83, 57%, 95%, 1);
  }

  &--full {
    width: 100%;
  }

  &--outline {
    border: 1.5px solid hsla(94, 71%, 68%, 1);
    background-color: transparent;
    color: get-color(primary);
  }
}
