.form {
  max-width: 40rem;

  & > *:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  @include respond(phone) {
    margin: 0 auto;
  }

  .btn--main {
    margin-top: 3.2rem;
    // width: 60%;
    margin: 3.2rem auto 1.6rem;
  }

  &__link {
    font-size: 1.4rem;
  }

  &__step {
    max-width: 50.5rem;
    margin: 0 auto;

    .inputfield {
      margin-bottom: 2.4rem;
    }
  }

  &__flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    // margin-bottom: 2.4rem;

    & > * {
      flex: 1;
    }

    & > *:not(:last-child) {
      margin-right: 2.4rem;
    }
  }

  &__btns {
    max-width: 50.5rem;
    margin: 6.4rem auto 4.8rem;

    .btn {
      width: 80%;
      margin: 0 auto;

      @include respond(phone) {
        width: 100%;
        margin: 4.8rem auto;
      }
    }

    & > *:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    .btn--text {
      padding: 0;
      background-color: transparent;
      color: get-color(primary);
      text-decoration: underline;
    }
  }
}
