.form {
  max-width: 40rem;

  & > *:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  @include respond(phone) {
    margin: 0 auto;
  }

  .btn--main {
    margin-top: 3.2rem;
    // width: 60%;
    margin: 3.2rem auto 1.6rem;
  }

  &__link {
    font-size: 1.4rem;
  }

  &__step {
    max-width: 50.5rem;
    margin: 0 auto;

    .inputfield {
      margin-bottom: 2.4rem;
    }
  }

  &__flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    // margin-bottom: 2.4rem;

    & > * {
      flex: 1;
    }

    & > *:not(:last-child) {
      margin-right: 2.4rem;
    }
  }
}
