.inputfield {
  display: flex;
  flex-direction: column;
  border: none;

  &__input {
    border: 0.5px solid #b4b4b4;
    padding: 1.2rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    font-family: "Graphik L Trial";
    color: get-color(primary);
    transition: all 0.5s;
    width: 100%;

    &::placeholder {
      color: hsla(0, 0%, 71%, 0.288);
    }

    &:focus {
      outline: 0.5px solid get-color(primary);
      // border: none;
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 0.2rem;
    font-size: 1.4rem;
    font-family: "Graphik R Trial";

    &-radio {
      display: flex;
      align-items: center;
    }

    &-text {
      margin-left: 0.6rem;
      color: hsla(180, 1%, 30%, 1);
    }
  }

  &__custom-radio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;

    border: 1px solid get-color(primary);
    border-radius: 10rem;

    &::after {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;

      border-radius: 10rem;
    }
  }

  &__radio {
    display: none;
  }

  &__radio-grp > &__label {
    display: block;
    margin-bottom: 1.2rem;
  }

  &__radio-grp {
    margin-bottom: 2.4rem;
  }

  &__radio-grp .inputfield {
    margin-bottom: 0 !important;
  }

  &__radio:checked ~ &__label-radio &__custom-radio::after {
    background-color: get-color(primary);
  }

  &__textarea {
    border: 0.5px solid #b4b4b4;
    padding: 1.2rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    font-family: "Graphik L Trial";
    color: get-color(primary);

    &:focus {
      outline: 0.5px solid get-color(primary);
      // border: none;
    }
  }

  &__error {
    color: hsla(0, 73%, 65%, 0.863);
    font-size: 1.4rem;
    font-family: "Graphik L Trial";
  }

  &__grp {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &--center {
    align-items: center;
  }

  &--dir-column {
    flex-direction: column;
  }

  &__select {
    border: 0.5px solid #b4b4b4;
    padding: 1.2rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    font-family: "Graphik L Trial";
    transition: all 0.5s;
    width: 100%;
    background: transparent;

    &:focus,
    &:active {
      outline: 0.5px solid get-color(primary);
      // border: none;
      background: transparent;
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;

  &__input {
    display: none;
  }

  &__label-box {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__label {
    font-family: "Graphik R Trial";
    font-size: 1.4rem;
    color: get-color(primary);
  }

  &__check {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.8rem;
    height: 1.8rem;
    padding: 0.2rem;
    border: 1.5px solid get-color(primary);
    border-radius: 0.5rem;
    margin-right: 0.3rem;
  }

  &__input:checked + &__label-box &__check {
    background-color: get-color(primary);

    &::after {
      content: "\2713";
      color: #fff;
      font-size: 1.2rem;
    }
  }

  &__grp {
    margin-bottom: 2.4rem;
  }

  &__grp > &__grp-label {
    display: block;
    margin-bottom: 1.2rem;
  }

  &__grp &__label {
    color: hsla(180, 1%, 30%, 1);
    margin-left: 0.4rem;
  }
}
