.our-plans {
  &__caption {
    margin-bottom: 4rem;
    text-align: center;

    .heading--1 {
      color: #075450;
      max-width: 56rem;
      margin: 0 auto;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2.4rem;

    @include respond(tab-port) {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
  }

  &__NGN {
    margin-bottom: 16rem;
  }
}

.plan {
  &__card {
    @include border;
    border-radius: 1.6rem;
    padding: 2.4rem;
    max-width: 28rem;

    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
      width: 100%;
      max-width: 100%;
    }

    &--annual {
      background-color: #ecffde;
      @include border(#002e1a);
    }

    &--annual .btn--main {
      background-color: #002e1a;
      color: #ecffde;
    }

    &--bespoke {
      @include border(#9ecba7);
      background-color: #fff;
    }

    &--bespoke .plan__type {
      color: #41551d;
    }

    &--bespoke .plan__price {
      color: #6e8f32;
    }

    &--bespoke .plan__category {
      color: #6e8f32;
      font-family: "Graphik M Trial";
      font-size: 1.6rem;
      font-weight: 500;
    }

    &--bespoke .btn--main {
      @include border(#002e1a);
      background-color: #fff;
    }

    .btn--main {
      justify-self: flex-end;
    }
  }

  &__type {
    display: inline-block;
    font-family: "Graphik M Trial";
    font-size: 1.6rem;
    font-weight: 500;
    color: #002e1a;
    margin-bottom: 1.6rem;
  }

  &__price {
    display: flex;
    align-items: baseline;
    gap: 0.8rem;

    font-size: 4rem;
    line-height: 4.8rem;
    color: get-color(primary);

    span {
      width: min-content;
    }
  }

  &__discount {
    font-size: 2rem;
    align-self: flex-end;
  }

  &__category,
  &__amt {
    display: block;
    font-size: 1.6rem;
    font-family: "Graphik R Trial";
    font-weight: 400;
    color: #009855;
    margin-bottom: 2.4rem;
  }

  &__features {
    flex: 1;
    ul {
      color: #4c4e4e;
      margin-bottom: 2.4rem;
    }

    h4 {
      font-family: "Graphik M Trial";
      font-size: 1.5rem;
      font-weight: 500;
      color: #002e1a;
      margin-bottom: 1.6rem;
    }

    li {
      display: flex;
      gap: 0.8rem;
      padding-left: 1.6rem;

      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }

      &::before {
        flex-shrink: 0;
        content: "";
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        background-color: #4c4e4e;
        border-radius: 10rem;
        position: relative;
        top: 0.8rem;
      }
    }
  }
}
