.simple-step {
  &__caption {
    max-width: 47.8rem;
    color: get-color(primary);
    margin: 0 auto 7.2rem;
    text-align: center;

    @include respond(tab-port) {
      max-width: 30rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
      gap: 3.2rem;
      max-width: 90rem;
      margin: 0 auto;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    padding: 3.2rem 1.6rem;
    border-radius: 0.8rem;
    color: get-color(primary);
    transition: background-color 0.4s;

    @include respond(tab-port) {
      padding: 3.2rem;
    }

    @include respond(phone) {
      text-align: center;
    }

    &:hover {
      background-color: #fcfdfa;
    }

    .heading--5,
    .heading--6 {
      margin-bottom: 2.4rem;
    }

    p {
      max-width: 29.7rem;

      @include respond(phone) {
        margin: 0 auto;
      }
    }
  }

  &__badge {
    display: inline-block;
    font-size: get-text-size(sm);
    background-color: #b0dfca;
    padding: 0.4rem 1.2rem;
    border-radius: 3rem;
    margin-bottom: 1.2rem;
  }

  &__btn {
    width: 28.5rem;
    max-width: 28.5rem;
    margin: 4.8rem auto 0;
  }
}

.subscription {
  &__caption {
    max-width: 50rem;
    margin: 0 auto 6.4rem;
    color: get-color(primary);
    text-align: center;
  }
}

.access {
  &__grid {
    @extend %grid--2;
    align-items: center;
    gap: 6.4rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    color: get-color(primary);

    @include respond(tab-port) {
      // grid-row: 1;
      max-width: 65%;
      margin: 0 auto;
    }

    @include respond(phone) {
      max-width: 100%;
    }

    .heading {
      margin-bottom: 3.2rem;
    }

    p,
    ul {
      margin-bottom: 4.8rem;
    }

    ul {
      max-width: 44.6rem;
    }

    li {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }

      img {
        margin-right: 1.2rem;
      }
    }

    .btn--main {
      width: fit-content;
    }
  }

  &__img {
    @include respond(tab-port) {
      grid-row: 1;
      max-width: 65%;
      margin: 0 auto;
    }

    @include respond(phone) {
      max-width: 100%;
    }

    img {
      height: fit-content;
    }
  }
}

.key-features {
  &__caption {
    max-width: 65rem;
    margin: 0 auto 6.4rem;
    text-align: center;
    color: get-color(primary);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    color: get-color(primary);

    @include respond(phone) {
      grid-template-columns: 1fr;
      gap: 6.4rem;
    }
  }

  &__feature {
    img {
      margin-bottom: 0.4rem;
    }
  }
}

.testimonial-video {
  text-align: center;
  color: get-color(primary);

  .heading {
    margin-bottom: 2.4rem;
  }
}

.testimonial__video {
  width: 56rem;
  height: 31.2rem;
  margin: 0 auto;

  @include respond(phone) {
    width: 80%;
  }

  @include respond(phone-sm) {
    width: 95%;
  }
}
