%grid--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

%grid--3 {
  display: grid;
  @include grid-template-col(1fr 1fr 1fr);
  gap: 3.2rem;
}

%grid--4 {
  display: grid;
  @include grid-template-col(1fr 1fr 1fr 1fr);
  gap: 3.2rem;
}
