$colors: (
  primary: #075450,
  primary-light: #a4e772,
  white: #ffffff,
  black: #000000,
);

$font-headings: (
  h1: 4.8rem,
  h2: 4rem,
  h3: 3.6rem,
  h4: 3.2rem,
  h5: 2.4rem,
  h6: 2rem,
);

$font-texts: (
  lg: 1.8rem,
  md: 1.6rem,
  sm: 1.4rem,
);

$line-heights: (
  l1: 5.6rem,
  l2: 4.8rem,
  l3: 4rem,
  l4: 3.2rem,
  l5: 2.4rem,
  l6: 2rem,
);
