.about-us {
  &__slider {
    height: 130vh;

    img {
      height: 100%;
      object-fit: cover;
      object-position: top;

      &:last-child {
        object-position: center;
      }
    }

    .mySwiper {
      height: 100%;
    }

    @include swiper;
  }
}

.vision {
  &__grid {
    @extend %grid--2;
    gap: 6.4rem;
  }

  &__statement {
    div {
      &:first-child {
        margin-bottom: 6.4rem;
      }
    }

    h5 {
      font-family: "Graphik M Trial";
      padding: 0.6rem 1.6rem;
      background-color: #ffffff;
      border-radius: 10rem;
      display: inline-block;
      vertical-align: middle;
      color: get-color(primary);
      margin-bottom: 1.6rem;
    }

    p {
      font-size: get-text-size(lg);
      color: #ffffff;
      max-width: 49rem;
    }
  }

  &__about {
    @extend %grid--2;
    gap: 6.4rem;

    margin-top: 6.4rem;
  }

  &__grp {
    display: flex;
    align-items: center;

    @include respond(phone) {
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
    }

    img {
      margin-right: 1.6rem;

      @include respond(phone) {
        margin-right: 0;
      }
    }

    div {
      text-align: center;

      @include respond(phone) {
        margin-bottom: 2.4rem;
      }
    }

    div span {
      display: block;

      &:first-child {
        font-family: "Graphik M Trial";
        color: #ffffff;
      }

      &:last-child {
        color: #a4e772;
      }
    }
  }
}

.story {
  &__caption {
    text-align: center;
    margin-bottom: 6.4rem;

    .heading,
    p {
      color: get-color(primary);
    }

    .heading {
      margin-bottom: 2.4rem;
    }

    p {
      font-size: get-text-size(lg);
      line-height: get-line-height(l4);
      max-width: 100.6rem;
      margin: 0 auto;

      &:first-of-type {
        margin-bottom: 2.4rem;
      }
    }
  }

  &__story {
    .heading {
      text-align: center;
      color: get-color(primary);
      margin-bottom: 6.4rem;
    }
  }

  &__grp {
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 4.8rem;
    align-items: center;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }

    &:not(:last-child) {
      margin-bottom: 12rem;
    }

    &:last-of-type {
      grid-template-columns: 45% 55%;

      @include respond(tab-port) {
        grid-template-columns: 1fr;
      }
    }

    h4,
    p,
    span {
      color: get-color(primary);
    }

    p {
      font-size: get-text-size(sm);
      margin-bottom: 2.4rem;
    }

    span {
      opacity: 70%;
      display: block;
      margin-bottom: 2.4rem;
    }

    iframe {
      width: 100%;
      height: 40rem;
      border-radius: 0.8rem;
    }
  }
}

.our-services {
  &__caption {
    max-width: 48.6rem;
    color: get-color(primary);
    margin-bottom: 8rem;

    @include respond(tab-port) {
      max-width: 30rem;
      margin: 0 auto 6.4rem;
      text-align: center;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
      gap: 4.8rem;

      max-width: 50rem;
      margin: 0 auto;
    }

    @include respond(phone-sm) {
      grid-template-columns: 1fr;
      gap: 4rem;
    }
  }

  &__card {
    text-align: center;

    img {
      margin-bottom: 0.8rem;
    }

    p {
      max-width: 15rem;
      margin: 0 auto;
      color: get-color(primary);
    }
  }
}
