.solution {
  &:not(:last-child) {
    margin-bottom: 6.4rem;
  }

  @include respond(tab-port) {
    &:not(:last-child) {
      margin-bottom: 8.8rem;
    }
  }

  &__caption {
    @include caption(64.4rem, 7.2rem);

    @include respond(tab-port) {
      @include caption(50rem, 6.4rem);
    }
  }

  &__text-box {
    & > .heading {
      color: get-color(primary);
      max-width: 37rem;
      margin-bottom: 2.4rem;

      @include respond(tab-port) {
        font-size: 4rem;
      }
    }

    @include respond(tab-port) {
      max-width: fit-content;
      margin: 0 auto;
    }
  }

  &__img {
    img {
      padding: 4rem;
      height: 60rem;
      object-fit: contain;

      @include respond(phone) {
        height: fit-content;
        padding: 0;
        margin-bottom: 2.4rem;
      }
    }

    @include respond(tab-port) {
      grid-row: 1 / 2;
    }
  }

  &__text {
    font-size: get-text-size(lg);
    line-height: get-line-height(l4);
    max-width: 50rem;
    color: get-color(primary);
  }
}

.services {
  &__caption {
    max-width: 63.8rem;
    margin-bottom: 6.4rem;

    & .heading {
      color: get-color(primary);
      margin-bottom: 0.8rem;
    }

    p {
      font-family: "Graphik L Trial";
      color: hsla(180, 1%, 30%, 1);
    }
  }

  &__service {
    padding: 2.4rem 1.6rem;
    border-radius: 0.4rem;
    transition: background 0.3s;

    &:hover {
      background: hsla(158, 44%, 96%, 1);
    }
  }

  &__icon {
    margin-bottom: 0.8rem;
  }

  & .heading {
    color: get-color(primary);
    margin-bottom: 2.4rem;
  }

  &__description {
    font-family: "Graphik L Trial";
    color: hsla(180, 1%, 30%, 1);
    margin-bottom: 2.4rem;
  }

  &__link {
    &,
    &:link,
    &:visited {
      color: get-color(primary);
      transition: color 0.3s;
      position: relative;
    }

    // &:hover,
    // &:active {
    //   color: #b0dfca;
    // }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: get-color(primary);
      position: absolute;
      transition: width 0.5s cubic-bezier(0.89, 0.09, 0.16, 0.87);
    }
  }

  &__service:hover &__link::after {
    width: 20%;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eefaef;
  padding: 3.2rem 2.4rem;
  border-radius: 0.8rem;
  min-height: 55.5rem;

  p {
    color: get-color(primary);
    font-family: "Graphik L Trial";
    line-height: 3.2rem;
    letter-spacing: -0.01em;
    margin-bottom: 5.6rem;

    &::before {
      content: "\0022";
      display: block;
      color: get-color(primary);
      font-family: "Graphik M Trial";
      font-size: 20rem;
      font-style: italic;

      position: relative;
      top: 4.2rem;
      left: -3.4rem;
      height: 7.2rem;
    }
  }

  &__caption {
    margin: 0 auto 10.4rem;
    max-width: 73rem;
    text-align: center;

    @include respond(phone) {
      max-width: 30rem;
    }

    .heading {
      color: hsla(125, 55%, 96%, 1);
      margin-bottom: 0.8rem;
    }

    p {
      font-family: "Graphik L Trial";
      color: hsla(158, 44%, 96%, 1);
    }
  }

  &__author {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 5.6rem;
    height: 5.6rem;
  }

  .author {
    &__info {
      font-family: "Graphik R Trial";
      color: get-color(primary);
      margin-left: 1.2rem;
      display: flex;
      flex-direction: column;
    }

    &__location {
      opacity: 50%;
      font-size: 1.3;
      letter-spacing: -0.01em;
    }
  }
}

.get-started {
  @extend %grid--2;
  gap: 4rem;
  align-items: center;

  &__caption {
    max-width: 55rem;
    margin: 0 auto 10.4rem;
    text-align: center;
    color: get-color(primary);

    @include respond(phone) {
      max-width: 30rem;
      margin: 0 auto 8rem;
    }

    .heading {
      margin-bottom: 1.6rem;
    }

    p {
      text-align: center;
    }
  }

  &__img {
    img {
      height: fit-content;

      @include respond(tab-port) {
        display: block;
        max-width: 75%;
        margin: 0 auto;
      }

      @include respond(phone) {
        max-width: 95%;
      }
    }
  }

  &__step {
    background: #f5faed;
    padding: 2.4rem 1.6rem;
    display: flex;
    align-items: center;
    color: get-color(primary);
    border-radius: 0.8rem;
    max-width: 54rem;
    margin: 0 auto;
    align-self: center;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    span {
      display: block;
      margin-right: 1.2rem;
      font-size: 9.6rem;
      line-height: 9.6rem;
      font-family: "Graphik M Trial";

      @include respond(phone) {
        font-size: 8rem;
        line-height: 8rem;
      }
    }

    .heading {
      font-family: "Graphik M Trial";
      color: get-color(primary);
    }

    p {
      @include respond(phone) {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }
  }
}

.benefits {
  .heading--display {
    max-width: 56.5rem;
    margin: 0 auto 6.4rem;
    text-align: center;
    color: get-color(primary);

    @include respond(phone) {
      font-size: 3.8rem;
    }
  }

  &__grid {
    @extend %grid--3;

    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    background: #eefaef;
    padding: 4rem 2.4rem;
    border-radius: 1.6rem;

    .heading {
      color: get-color(primary);
      margin-bottom: 1.6rem;
    }

    p {
      color: #000000;
      opacity: 80%;
    }
  }

  &__icon {
    margin-bottom: 0.8rem;
  }
}

.metrics {
  &__caption {
    max-width: 66.7rem;
    margin: 0 auto 6.4rem;
    text-align: center;
    color: get-color(primary);

    .heading {
      margin-bottom: 1.6rem;
    }

    p {
      @include respond(phone) {
        max-width: 33.5rem;
        margin: 0 auto;
      }
    }
  }

  &__grid {
    @extend %grid--4;

    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__stat {
    text-align: center;

    span {
      font-family: "DM Serif Display", serif;
      // font-family: "Graphik L Trial";
      font-size: 8rem;
      color: #9bca46;

      @include respond(tab-port) {
        font-size: clamp(4.8rem, 3vw, 5.6rem);
        line-height: clamp(5.6rem, 3vw, 6rem);
      }
    }

    .heading {
      font-family: "Graphik M Trial";
      color: get-color(primary);

      @include respond(phone) {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
  }
}

.featured-in {
  &__caption {
    display: block;
    font-family: "Graphik M Trial";
    font-weight: 500;
    font-size: get-text-size(lg);
    line-height: 3.2rem;
    letter-spacing: 0.255em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2.4rem;

    color: #000000;

    @include respond(phone) {
      margin-bottom: 4rem;
    }
  }

  &__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-wrap: wrap;
    }

    @include respond(phone) {
      justify-content: center;
    }

    img {
      height: 3.2rem;
      object-fit: contain;

      @include respond(tab-port) {
        width: 18rem;
        margin-right: 2.4rem;
        margin-bottom: 2.4rem;
      }

      @include respond(phone) {
        width: 12rem;
      }
    }
  }
}

.cta {
  text-align: center;

  .heading {
    max-width: 52.4rem;
    margin: 0 auto 2.4rem;
    color: get-color(primary);

    @include respond(tab-port) {
      max-width: 40rem;
    }

    @include respond(phone) {
      font-size: 3.2rem;
    }
  }

  p {
    max-width: 83rem;
    color: get-color(primary);
    margin: 0 auto 4rem;
  }

  &__btn {
    // width: 22.5rem;
    margin: 0 auto;
  }
}

.service-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  padding: 0.725361rem 2.53876rem;
  background-color: #ffffff;
  border-radius: 10rem;

  span {
    font-family: "Graphik M Trial";
    font-size: 1.4rem;
    color: get-color(primary);
    line-height: 1.4rem;
    transform: translateY(-1.5px);
  }

  img {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.4rem;
  }
}
