.register {
  &__nav {
    padding: 1.6rem 0;
    border-bottom: 1px solid hsla(0, 0%, 88%, 1);
    margin-bottom: 2.4rem;
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__header {
    color: get-color(primary);
    margin-bottom: 4.8rem;
    text-align: center;

    .heading {
      margin-bottom: 0.8rem;
    }
  }

  &__text-link {
    font-family: "Graphik R Trial";
    padding: 0;
    background-color: transparent;
    color: get-color(primary);

    display: flex;
    align-items: center;
  }

  &__terms {
    font-size: 1.4rem;
    padding: 2.4rem;
    border: 1px solid hsla(180, 0%, 46%, 1);
    text-align: center;
    margin-bottom: 4.8rem;

    p {
      color: #767777;
    }

    a,
    a:link,
    a:visited {
      font-family: "Graphik M Trial";
      color: get-color(primary);
    }
  }
}
