.footer {
  background-color: get-color(primary);
  color: get-color(white);
  padding: 8rem 0;

  &__grid {
    @include grid-template-col(max(55rem) 1fr 1fr 1fr);

    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 6.4rem;
    }

    @include respond(phone) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 6.4rem 3.2rem;
    }
  }

  &__summary {
    @include respond(tab-port) {
      grid-column: 1 / -1;
    }
  }

  &__text {
    font-family: "Graphik L Trial";
    max-width: 42.6rem;
    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
  }

  &__awards {
  }

  &__award-b {
  }

  &__award {
    display: flex;

    & > * {
      height: 6rem;
      width: max-content;
      object-fit: contain;
    }
  }

  &__subtitle {
    margin-bottom: 1.2rem;
  }

  &__list {
    .heading {
      // font-family: "Graphik M Trial";
      // font-weight: 500;
      margin-bottom: 1.6rem;
    }
  }

  &__item {
    margin-bottom: 1.6rem;
  }

  &__link {
    &,
    &:link,
    &:visited {
      color: get-color(white);
      font-family: "Graphik L Trial";
    }
  }
}
