.row {
  max-width: 120rem;
  margin: 0 auto;

  @include respond(tab-land) {
    padding: 2.4rem;
  }
}

.grid {
  display: grid;

  &--2-col {
    @include grid-template-col(55% 45%);

    @include respond(tab-port) {
      @include grid-template-col(1fr);
    }
  }

  &--2-col-reverse {
    @include grid-template-col(45% 55%);

    @include respond(tab-port) {
      @include grid-template-col(1fr);
    }
  }

  &--3-col {
    @include grid-template-col(1fr 1fr 1fr);
    gap: 3.2rem;

    @include respond(tab-port) {
      @include grid-template-col(1fr 1fr);
    }

    @include respond(phone) {
      @include grid-template-col(1fr);
    }
  }

  &--4-col {
  }

  &--center-v {
    align-items: center;
  }
}

.auth {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // align-items: center;
    height: 100vh;
  }

  &__left {
    background-image: url("../../assets/img/auth-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__right {
    padding: 3.2rem;
    align-self: center;
    position: relative;

    width: 80%;
    margin: 0 auto;
  }

  &__header {
    margin: 2.4rem 0;
    color: get-color(primary);
  }

  &__logo-box {
    position: absolute;
    top: -15%;
    left: 2.4rem;

    &-lg {
      top: -70%;
    }
  }
}

.hmo {
  &__pricing-caption {
    color: get-color(primary);
    margin-bottom: 6.4rem;
    // text-align: center;

    .heading {
      margin: 0 auto;
      text-align: center;
    }
  }

  &__table {
    width: 100%;
    // border: 1px solid get-color(primary);
    border-collapse: collapse;
    border-radius: 0.8rem;

    thead {
      background-color: get-color(primary);
      color: #fff;
      border-radius: 0.8rem;
    }

    td {
      text-align: center;
      padding: 5.6rem 1.6rem;
      border: 1px solid get-color(primary);
    }

    .headings {
      background-color: #f5faed;
      color: get-color(primary);
    }

    .btn--table {
      border: 1.5px solid get-color(primary);
      background-color: #f5faed;
      color: get-color(primary);
    }
  }

  &__text {
    display: block;
    color: get-color(primary);
    text-align: center;
    max-width: 23.2rem;
  }

  &__amt {
    font-family: "Graphik M Trial";
    font-size: 3.2rem;
    color: get-color(primary);
  }

  &__link {
    margin-top: 4.8rem;

    .btn--main {
      width: max-content;
      margin: 0 auto;
    }
  }
}

[class$="plan-details"] {
  // &__caption {

  // }

  table {
    width: 100%;
    border: 1px solid get-color(primary);
    border-collapse: collapse;
  }

  thead {
    // text-align: center;

    .heading {
      font-family: "Graphik M Trial";
      color: get-color(primary);
    }
  }

  td {
    border-collapse: collapse;
    border: 1px solid get-color(primary);
    padding: 1.6rem 2.4rem;
  }

  .table {
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__item-name {
      display: block;
      color: get-color(primary);
      max-width: 27rem;
      margin-right: 1.6rem;
    }

    &__item-name.heading {
      font-family: "Graphik M Trial";
    }

    &__icon {
      width: 2.2rem;
      height: 2.2rem;
      transform: translateY(2px);
    }
  }
}
