.header {
  padding: 13vh 0 15vh;

  .heading,
  p {
    color: get-color(primary);
  }

  .heading {
    margin-bottom: 1.6rem;
  }

  p {
    font-size: get-text-size(lg);
    margin-bottom: 5.6rem;
  }

  img {
    margin-right: 1.2rem;
  }

  span {
    color: get-color(primary);
    font-size: get-text-size(sm);
  }

  &__text-sub {
    display: flex;
    align-items: center;

    padding: 0.8rem 1.4rem;
    max-width: fit-content;
    background-color: hsla(51, 65%, 84%, 1);
    border-radius: 10rem;
    margin-bottom: 3.2rem;
  }

  &--home {
    .heading {
      max-width: 54rem;
    }

    p {
      max-width: 40rem;
    }
  }

  &--testimonials {
    p {
      max-width: 70rem;
    }
  }

  &__img {
    position: relative;

    img {
      height: fit-content;
      border-radius: 0.8rem;
    }
  }

  &__cta {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 1.6rem;
    }
  }

  .mySwiper {
    cursor: grab;
    width: 100%;
  }

  &--about {
    padding-bottom: 0;

    .row {
      max-width: 100%;
    }

    .heading {
      max-width: 72.3rem;
    }

    p {
      max-width: 56.6rem;
    }

    img {
      display: block;
      height: 100%;
    }
  }

  &--pricing {
    max-width: 90.6rem;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0;

    .heading,
    p {
      max-width: 100%;
    }
  }

  &--elderly {
    // padding-bottom: 0;
  }

  &__elderly-text {
    max-width: 70rem;
    margin: 0 auto 5.6rem;
    text-align: center;

    .heading {
      max-width: 100%;
    }

    p {
      max-width: 52rem;
      margin: 0 auto 3.2rem;
    }

    .btn--main {
      margin: 0 auto;
    }
  }

  &__elderly-img {
    img {
      height: fit-content;
      object-fit: contain;
    }
  }

  &__text {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // gap: 6.4rem;
    // align-items: center;
    // margin-bottom: 4.8rem;

    h1 {
      max-width: 59rem;
    }

    p {
      max-width: 49rem;
    }
  }

  &__hire {
    max-width: 70.5rem;
    margin: 0 auto;
    text-align: center;

    .heading {
      max-width: 100%;
    }

    p {
      max-width: 62.3rem;
      margin: 0 auto 4.8rem;
    }

    .btn--main {
      margin: 0 auto;
    }
  }
}

[class*="hmo"] {
  .heading {
    max-width: 66.4rem;
  }

  p {
    max-width: 62.3rem;
  }
}

[class*="hmo-"] {
  // .heading {
  //   max-width: 82.7rem;
  // }

  p {
    max-width: 55rem;
  }
}

.hero-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
