.section {
  &--services {
    padding: 9.6rem 0;
  }

  &--testimonials {
    background-color: get-color(primary);
    padding: 9.6rem 0;

    .row {
      margin: 0;
      width: 100%;
      max-width: 100%;
    }

    .swiper-wrapper {
      max-width: 120rem;
      margin: 0 auto;
      cursor: grab;
    }
  }

  &--get-started {
    background-color: #e0efc6;
    padding: 9.6rem 0;
  }

  &--benefits {
    padding: 9.6rem 0;
  }

  &--solutions {
    padding: 9.6rem 0;
  }

  &--awards {
    height: 30rem;
    cursor: grab;

    .row:last-of-type {
      height: 79%;
    }

    .swiper {
      height: 100%;
    }

    .swiper-pagination {
      max-width: fit-content !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
      bottom: 4rem !important;
    }

    .swiper-pagination-bullet {
      background-color: hsla(177, 85%, 18%, 1);
      opacity: 10%;
    }

    .swiper-pagination-bullet-active {
      background-color: hsla(177, 85%, 18%, 1);
      opacity: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: flex;
      justify-content: center;
      align-items: center;
      color: hsla(177, 85%, 18%, 1);
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: #e6eeee;

      &::after {
        font-size: 1.6rem;
        font-weight: 900;
      }
    }

    .swiper-button-next {
      &::after {
        transform: translateX(1px);
      }
    }

    .swiper-button-prev {
      &::after {
        transform: translateX(-1px);
      }
    }
  }

  &--featured-in {
    padding: 9.6rem 0;
  }

  &--cta {
    padding: 4.8rem 0 9.6rem;
  }
}
