.section {
  padding: 9.6rem 0;

  @include respond(phone-lg) {
    padding: 7.2rem 0;
  }

  &--testimonials {
    background-color: get-color(primary);
    // padding: 9.6rem 0;

    .row {
      margin: 0;
      width: 100%;
      max-width: 100%;
      // padding-right: 2.4rem;
    }

    .swiper-wrapper {
      max-width: 120rem;
      margin: 0 auto;
      cursor: grab;
    }

    @include swiper();
  }

  &--get-started {
    background-color: #e0efc6;
    // padding: 9.6rem 0;
  }

  // &--benefits {
  //   padding: 9.6rem 0;
  // }

  // &--solutions {
  //   padding: 9.6rem 0;
  // }

  &--awards {
    height: 30rem;
    cursor: grab;
    padding: 0;

    @include respond(tab-land) {
      height: 40rem;
    }

    .row:last-of-type {
      height: 79%;

      @include respond(phone) {
        height: 75%;
      }
    }

    .row .row {
      @include respond(phone) {
        padding: 0;
      }
    }

    .swiper {
      height: 100%;
      // overflow: visible;
      overflow-x: hidden;
    }

    .swiper-pagination {
      max-width: fit-content !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
      bottom: 1rem !important;

      @include respond(tab-md) {
        bottom: -0.5rem !important;
      }
    }

    .swiper-pagination-bullet {
      background-color: hsla(177, 85%, 18%, 1);
      opacity: 10%;
    }

    .swiper-pagination-bullet-active {
      background-color: hsla(177, 85%, 18%, 1);
      opacity: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: flex;
      justify-content: center;
      align-items: center;
      color: hsla(177, 85%, 18%, 1);
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: #e6eeee;

      &::after {
        font-size: 1.6rem;
        font-weight: 900;
      }
    }

    .swiper-button-next {
      &::after {
        transform: translateX(1px);
      }
    }

    .swiper-button-prev {
      &::after {
        transform: translateX(-1px);
      }
    }
  }

  &--metrics {
    background: #f5faed;
    // padding: 9.6rem 0;
  }

  // &--featured-in {
  //   padding: 9.6rem 0;
  // }

  &--cta {
    padding: 4.8rem 0 9.6rem;
  }

  &--vision {
    background-color: get-color(primary);
    // padding: 9.6rem 0;
  }

  // &--story {
  //   padding: 9.6rem 0;
  // }

  &--pricing {
    padding: 0 0 9.6rem;

    .heading {
      text-align: center;
      color: get-color(primary);
      margin-bottom: 2.4rem;
    }
  }

  &--our-services {
    padding: 4.8rem 0 9.6rem;
  }

  &--simple-step {
    background-color: #f5faed;
    // padding: 9.6rem 0;
  }

  // &--subscription {
  //   padding: 9.6rem 0;
  // }

  &--access {
    padding: 16rem 0 6.4rem;
  }

  &--full-bg {
    img {
      display: block;
      height: fit-content;
    }
  }

  // &--key-features {
  //   padding: 9.6rem 0;
  // }

  // &--video {
  //   padding: 9.6rem 0;
  // }

  &--customers-stories {
    background-color: get-color(primary);
    padding: 12rem 0;

    @include respond(phone-lg) {
      padding: 7.2rem 0;
    }
  }

  &--full-width-img {
    padding: 0;

    img {
      display: block;
      height: fit-content;
    }
  }

  &--plan-details {
    background-color: #f5faed;

    .heading--display {
      text-align: center;
      color: get-color(primary);
      margin-bottom: 2.4rem;
    }
  }
}
