body {
  font-size: get-text-size(md);
  font-family: "Graphik R Trial";
  font-weight: 400;
  line-height: get-line-height(l5);
}

.hmo-plan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 85rem;
  margin: 0 auto;
  background-color: #f5faed;
  border: 1px solid #4c4e4e;
  border-radius: 2rem;
  padding: 2.4rem 0;

  h2.heading {
    margin-bottom: 0.8rem;
  }

  p {
    font-size: 18rem;
    color: #33ad77 !important;
    margin-bottom: 0 !important;
  }
}
