.heading {
  font-family: "DM Serif Display", serif;
  font-weight: 400;

  &--display {
    font-size: get-heading-size(display);
    line-height: get-line-height(ld);

    @include respond(tab-md) {
      font-size: clamp(4rem, 3vw, 5.6rem);
      line-height: clamp(4.8rem, 3vw, 6rem);
    }
  }

  &--1 {
    font-size: get-heading-size(h1);
    line-height: get-line-height(l1);

    @include respond(tab-md) {
      font-size: clamp(4rem, 3vw, 5.6rem);
      line-height: clamp(4.8rem, 3vw, 6rem);
    }
  }

  &--2 {
    font-size: get-heading-size(h2);
    line-height: get-line-height(l2);

    @include respond(tab-md) {
      font-size: clamp(4rem, 3vw, 5.6rem);
      line-height: clamp(4.8rem, 3vw, 6rem);
    }
  }

  &--3 {
    font-size: get-heading-size(h3);
    line-height: get-line-height(l3);
  }

  &--4 {
    font-size: get-heading-size(h4);
    line-height: get-line-height(l3);
  }

  &--5 {
    font-size: get-heading-size(h5);
    line-height: get-line-height(l4);
  }

  &--6 {
    font-size: get-heading-size(h6);
    line-height: get-line-height(l4);
  }
}

.text {
  font-size: 1.8rem;
}

.text-sm {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
